.select-option-list {
    background: #E3E3E3;
    border-radius: 5px;
    padding: 1px;
    min-width: 280px;
    position: relative;
}

@media screen and (min-width: 1081px) {
    .select-option-list {
        min-width: 300px;
    }
}

.select-option--selected {
    background: #E3E3E3;
    transition: all .5s ease-in-out;
}

.select-option--selected:hover {
    box-shadow: 0 15px 25px 0 rgba(62, 64, 80, 0.15),0 2px 14px 0 rgba(62, 64, 80,.2);
}

.select-option-list-dropdown {
    background: #E3E3E3;
    transition: background .2s ease-in-out;
    position: absolute;
    width: 100%;
    box-shadow: 0 15px 25px 0 rgba(62, 64, 80, 0.15),0 2px 14px 0 rgba(62, 64, 80,.2);
    z-index: 20;
    overflow-y: auto;
    max-height: 200px;
}

.select-option-list-dropdown--closed {
    display: none;
}