.currency-converter {
    width: 75%;
    background: #FFFFFF;
    box-shadow: 0 15px 25px 0 rgba(62, 64, 80, 0.15),0 2px 14px 0 rgba(62, 64, 80,.2);
    border-radius: 10px;
    padding: 35px;
    max-height: 450px;
    align-self: center;
    position: relative;
}

@media screen and (min-width: 1081px) {
    .currency-converter {
        width: 100%;
    }
}

.currency-converter .switch {
    position: absolute;
    right: -36px;
    top: 42%;
}

.currency-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currency-value {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.divider {
    width: 97%;
    height: 1px;
    background: #d1d2d3;
    margin: 20px 0;
}

.error-message {
    margin-bottom: 20px;
}

.error-message > span {
    color: #FF0040;
}

.error-message--hide {
    display: none;
}


@media screen and (min-width: 1081px) {
    .currency-converter {
        width: 40%;
    }
}